
@font-face {
  font-family: 'vcr';
  src:  url('./assets/VCR_OSD_MONO_1.001.woff2') format('woff2'),
        url('./assets/VCR_OSD_MONO_1.001.woff') format('woff');
}


h1 {
    text-transform:uppercase;
    text-align:center;
    font-family:"vcr";
    color:var(--vivid-violet);
}
h2 {
    text-transform: uppercase;
    text-align:center;
    font-family:"vcr";
    color:var(--frolly);
}
#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
}

body {
    margin:0;
    padding: 15px;
    background: var(--black);
}

